<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zgtech.funplay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".FunPlayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">

            <!--android:theme="@style/AppSplash"-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity
             android:name=".activity.MainActivity"
             android:windowSoftInputMode="adjustPan" />-->

        <activity android:name=".activity.MainActivity" />
        <!--<activity android:name=".activity.LoginActivity" />-->
        <activity android:name=".activity.LoginSMSActivity" />
        <activity android:name=".activity.LoginForgetPwdActivity" />
        <activity android:name=".activity.RegistAActivity" />
        <activity android:name=".activity.RegistBActivity" />
        <activity android:name=".activity.RegistCActivity" />
        <activity android:name=".activity.ChatActivity" />

        <activity android:name=".activity.PhotoViewActivity" />
        <activity android:name=".activity.CoreUserDetailPageActivity" />
        <activity android:name=".activity.CorePinTuanDetailActivity" />
        <activity android:name=".activity.CoreWanZhuanDiQiuActivity" />


        <activity android:name=".activity.tabcenter.PinTuanTogetherActivity" />
        <activity android:name=".activity.tabcenter.PushNewOrderActivity" />

        <activity android:name=".activity.modulea.FilterActivity" />

        <activity android:name=".activity.modulec.FriendTalkPushActivity" />

        <activity android:name=".activity.moduled.MyOrderActivity" />
        <activity android:name=".activity.moduled.MyPinTuanActivity" />
        <activity android:name=".activity.moduled.MyInfoActivity" />
        <activity android:name=".activity.moduled.MyCertifyActivity" />
        <activity android:name=".activity.moduled.MyCollectActivity" />
        <activity android:name=".activity.moduled.MySuggestActivity" />
        <activity android:name=".activity.moduled.MyReportActivity" />
        <activity android:name=".activity.moduled.MyPwdActivity" />
        <activity android:name=".activity.moduled.CertifyIDActivity" />
        <activity android:name=".activity.moduled.CertifyVocationActivity" />



        //ease ui
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1172170330115303#funplay" />


        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zgtech.funplay.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>